* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: blue;
  text-decoration: none; /* no underline */
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  height: 100vh;
}


/* Filter.jsx */
#type-select {
  margin: 0 20px;
}

#condition-select {
  margin: 0 20px;
}

#condition-input {
  margin: 0 20px;
}